table, th, td{
    border:1px solid black;
}
th,td{
    padding: 10px;         
}
body{

}
tr:nth-child(even){
    color:#ef5366;
}
div{
    margin:50px 0;  
}
.btn{
    padding: 10px 20px;
    border: 1px solid#ef5366;
    color:black; 
    text-decoration: none;
}
.btn:hover{
    background-color: #ef5366;
    color:white; 
    cursor: pointer;
    text-decoration: none;
}
.flexbox-paging{
    background-color: #ef5366;
    display: flex;
}
.flexbox-paging > div{
    margin: 5px;
    padding: 10px;
    background-color: white;
}
.flexbox-paging > p{
color: white;
font-size: 20px;
right: 12px;

position: absolute;
}